{% if terms.length %}
  <div class="section is-size-3 text-center">
  نتائج البحث عن "{{ query }}"
  </div>
  <ul class="stack">
  {% for term in terms %}
    <li class="p-3 has-background-light is-flex is-justify-content-space-between is-align-items-center">

      {% for translation in term.translations %}
        <span>{{ translation.value }}، </span>
      {% endfor %}

      <div class="is-flex is-align-items-center">
        <a href="/term/{{term.id}}" class="button is-link is-small ml-2">
          إضافة ترجمة
        </a>
        <strong class="text-left">{{term.value}}</strong>
      </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <div class="section is-size-3 text-center">
  لا توجد ترجمات ل "{{ query }}"
  </div>
{% endif %}