<section class="hero">
  <h1 class="hero__heading">مصطلح</h1>
  <h2 class="hero__subheading">
    قاموس رقمي يهدف إلى المساهمة في لم شتات المصطلحات التقنية العربية
  </h2>

  {% include './search-form.njk' %}

  {# <a href="/term/new" class="mt-4">إضافة مصطلح جديد</a> #}
</section>