<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>قاموس تقني يهدف لتوحيد المصطلحات العربية | مصطلح</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma-rtl.min.css"
    >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/utils.css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
    {% include './partials/header.njk' %}
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
