{% extends 'layout.njk' %}

{% block content %}

{# search form #}
{% include './partials/search-form.njk' %}

{# terms list #}
{% include './partials/terms-list.njk' %}

{# new term form #}
{% include './partials/new-term.njk' %}
{% endblock %}
