.index-page {
  height: 100vh;
  position: relative;
}

.index-page__backdrop {
  background-image: url('/img/background.jpg');
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
}

.navbar {
  direction: rtl;
  height: var(--navbar-height);
}

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100% - var(--navbar-height));
}

.hero .container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__heading {
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
  margin-top: 0;
  text-align: center;
}

.hero__subheading {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: var(--spacing-lg);
  margin-top: 0;
}

.hero__search-form-wrapper {
  max-width: 350px;
  padding-bottom: 100px;
}

.search-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  padding: 2px;
  background-color: white;
}

.search-form__button {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 7px;
}

.search-form__button img {
  max-width: 100%;
}

.search-form__input {
  font-size: larger;
  background-color: transparent;
  border: none;
  outline: none;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  flex-grow: 1;
}

/* search page */
.search-page__search-form-wrapper {
  background-color: white;
  position: sticky;
  top: var(--navbar-height);
}

.terms-list__hint {
  direction: rtl;
  font-size: 1.3rem;
  margin: 0.5rem;
  text-align: center;
}

.terms-list__items {
  list-style: none;
  padding: 0;
}

.terms-list__item {
  background-color: var(--color-primary-light);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
