@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('/fonts/Droid-Arabic-Kufi.ttf') format('TrueType');
}

@font-face {
  font-family: 'Dubai';
  src: url('/fonts/DubaiW23-Regular.woff2') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Dubai';
  src: url('/fonts/DubaiW23-Bold.woff2') format('woff');
  font-weight: bold;
}

:root {
  --color-primary: #623b00;
  --color-primary-light: #e0d8cc;
  --color-body: #444444;
  --border-radius: 0.2rem;
  --font-primary: 'Dubai';
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  --navbar-height: 50px;

  --sm-breakpoint: 570px;
}

* {
  box-sizing: border-box;
}

html,
body {
  color: var(--color-body);
  font-family: var(--font-primary), sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 720px;
  padding: var(--spacing-sm);
}

.is-rtl {
  direction: rtl;
  font-size: 1.2em;
}
