/* page direction */
.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

/* flex layout */
.flex,
.row {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-betwen {
  justify-content: space-between;
}

/* layout stack */
.stack > * {
  margin-bottom: var(--spacing-md);
}

.stack > *:last-child {
  margin-bottom: 0;
}

/* text alignment */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 570px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}
