<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>قاموس رقمي هدفه المساهمة في لم شتات المصطلحات العربية في المجال التقني | مصطلح</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/utils.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/logo.png">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-179XPBZXJF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-179XPBZXJF');
    </script>
  </head>
  <body>
    <div class="index-page">
      <div class="index-page__backdrop"></div>
      {% include './partials/hero.njk'%}
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
