<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>قاموس رقمي هدفه المساهمة في لم شتات المصطلحات العربية في المجال التقني | مصطلح</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/utils.css">
    {% block css %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
    {% include './partials/header.njk' %}
    {% block content %}
    {% endblock %}
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
