{% extends 'layout.njk' %}

{% block content %}

<div class="search-page">
  {% include './partials/header.njk' %}

  <div class="search-page__search-form-wrapper">
    <div class="container">
      {% include './partials/search-form.njk' %}
    </div>
  </div>

  <div class="container">
    {% include './partials/terms-list.njk' %}
  </div>

  {% include './partials/footer.njk' %}
</div>

{% endblock %}
