<footer class="footer">
  <div class="container">
    طور الموقع
    <a href="https://mokhnache.com" target="_blank">عبد العزيز مخناش</a>
    و ثلّة من
    <a href="https://github.com/Abdelaziz18003/mostalah/graphs/contributors" target="_blank">المساهمين</a>
    الأفاضل
  </div>
</footer>