<header class="header">
  <nav class="navbar">
    <div class="container navbar__container">
      <a href="/" class="navbar__brand">
        <img src="/img/logo.png" alt="logo">
      </a>
    </div>
  </nav>
</header>