<header class="header">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">مصطلح</a>
      </div>
    </div>
  </nav>
</header>