<section class="hero">
  <div class="container">
    <h1 class="hero__heading">مصطلح</h1>
    <h2 class="hero__subheading">
      قاموس رقميّ هدفه المساهمة في لمّ شتات المصطلحات العربية في المجال التقنيّ
    </h2>
    <div class="hero__search-form-wrapper">
      {% include './search-form.njk' %}
    </div>
  </div>
</section>