<form action="/search" method="get" class="search-form my-4">
  <button type="submit" class="search-form__button">
    <img src="/img/search.png" >
  </button>
  <input class="search-form__input" type="text" name="q" value="{{query}}">
</form>