<div class="terms-list">
  {% if terms.length %}
    <div class="terms-list__hint is-rtl">
    نتائج البحث عن "{{ query }}"
    </div>
    <ul class="terms-list__items">
    {% for term in terms %}
      <li class="terms-list__item">
        <div class="row justify-space-betwen">
          {# original term #}
          <div class="column is-align-items-center">
            <strong>{{term.original}}</strong>
          </div>

          {# translation #}
          <div class="is-rtl column text-right">
            {{ term.translation }}
          </div>
        </div>
      </li>

      {# source of the term #}
      <div dir="rtl" class="row" style="font-size: smaller;">
        <small dir="rtl">المصدر: ({{term.source}})</small>
      </div>
    {% endfor %}
    </ul>
  {% else %}
    <div class="terms-list__hint">
    لا توجد ترجمات ل "{{ query }}"
    </div>
  {% endif %}
</div>