.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10rem;
}

.hero__heading {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: var(--spacing-lg);
  margin-top: 0;
  text-align: center;
}

.hero__subheading {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: var(--spacing-lg);
  margin-top: 0;
}

.hero__form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
