{% extends '../layout.njk' %}

{% block content %}

{# search form #}
{% include '../partials/search-form.njk' %}

<div class="section">
  <h1 class="title is-2 has-text-centered">
    <div>"{{term.value}}"</div>
  </h1>
</div>

<div>
  <h2 class="title is-4">المقابل العربي</h2>

  {# translations list #}
  <ul>
  {% for translation in term.translations %}
    <li class="p-2 mt-2 has-background-light">{{ translation.value }}</li>
  {% endfor %}
  </ul>
</div>

{% include "../partials/new-translation.njk" %}

{% endblock %}
